<nav class="nav-query">
  <div>
    Set number of records
    <input type="number"
           name="numberOfRecords"
           (change)="onNumberOfRecordsSet($event)">
    <div class="nav-query-records-selector">
      <span *ngFor="let option of numberOfRecordsOptions">
        <input type="radio"
               name="numberOfRecords"
               [checked]="option == numberOfRecords"
               (change)="onNumberOfRecordsChange(option)">
        <label>{{ option }}</label>
      </span>
    </div>
  </div>
  <div class="nav-query-button-group">
    <button (click)="getValues()"
            autofocus>Get
    </button>
    <button (click)="findValues()"
            [disabled]="!valuesData">Find
    </button>
    <!--<button type="button"-->
            <!--[disabled]="!valuesData && !getValuesStartTime && !findValuesEndTime"-->
            <!--(click)="copyToClipboard()">Copy results to clipboard-->
    <!--</button>-->
    <button (click)="reset()"
            [disabled]="!valuesData">Reset
    </button>
  </div>
</nav>

<!-- Results -->

<div>
  <div class="result-data-info">
    <div class="col-1">
      <h3>Data info</h3>
      <ul>
        <li>Keyword: {{ valuesData?.keyWord || placeholder }}</li>
        <li>Keyword found count: {{ valuesData?.keyWordCount || placeholder }}</li>
        <li>Min keyword: {{ valuesData?.min || placeholder }}</li>
        <li>Max keyword: {{ valuesData?.max || placeholder }}</li>
        <li>Total records: {{ valuesData?.size || placeholder }}</li>
      </ul>
    </div>
    <div class="col-2">
      <table class="result-table">
        <thead>
        <tr>
          <th>{{ angularForNRecordsLabel }}</th>
          <th>{{ renderingLabel }}</th>
          <th>{{ reRenderingLabel }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{ valuesData?.size || placeholder }}</td>
          <td>{{ getValuesTime() }}</td>
          <td>{{ findValuesTime() }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <table class="result-table">
    <tbody>
    <tr *ngFor="let row of rowIds; let lastRow = last">
      <td *ngFor="let col of columnIds; let lastCol = last"
          [class.highlight]="highlightKeyword && getValueAt(row, col) == valuesData?.keyWord">
        <!--{{ row }},{{ col }}-->
        {{ getValueAt(row, col) }}
      </td>
    </tr>
    </tbody>
  </table>
</div>
